<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.0.2/dist/sweetalert2.min.css">
  <link rel="shortcut icon" href="#" />
</head>

<body>


  <h2 class="text-center text-dark"><span class="badge badge-success">PASTELES</span></h2>
  <div id="app">
    <v-app>
      <v-main>
        <v-card class="mx-auto mt-5" max-width="1200">

          <!-- Botón Crear -->
          <v-btn rounded color="#9FA8DA" @click="formNuevo()">Crear</v-btn>

          <!-- Tabla -->
          <v-simple-table class="mt-5">
            <template v-slot:default>
              <thead>
                <tr class="light-blue darken-2">
                  <th class="white--text">Nombre</th>
                  <th class="white--text">Descripción</th>
                  <th class="white--text">Preparado por</th>
                  <th class="white--text">Fecha Creación</th>
                  <th class="white--text">Fecha Vencimiento</th>
                </tr>
              </thead>

              <tbody>
                <tr v-for="pastel in pasteles" :key="pastel.id_Pastel">
                  <td>{{ pastel.nombre }}</td>
                  <td>{{ pastel.descripcion }}</td>
                  <td>{{ pastel.preparado_por }}</td>
                  <td>{{ pastel.fecha_creacion }}</td>
                  <td>{{ pastel.fecha_vencimiento }}</td>
                  <td>
                    <p align="right">
                      <v-btn class="teal accent-4" dark @click="formEditar(pastel)">Editar</v-btn>
                      <v-btn class="error" dark @click="borrar(pastel.id_Pastel)">Borrar</v-btn>
                    </p>
                  </td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card>

        <!-- Componente crear-editar -->
        <v-dialog v-model="dialog" max-width="900">
          <v-card>
            <v-card-title class="blue-grey darken-1 white--text">Pastel</v-card-title>
            <v-card-text>
              <v-form>
                <v-container>
                  <v-row>

                    <input type="hidden" v-model="pastel.id_Pastel">


                    <v-col cols="12" md="4">
                      <label for="">Nombre de Pastel</label>
                      <v-text-field v-model="pastel.nombre" label="Nombre" solo required></v-text-field>
                    </v-col>
                    <v-col cols="12" md="4">
                      <label for="">Descripción</label>
                      <v-text-field v-model="pastel.descripcion" label="Descripción" solo required></v-text-field>
                    </v-col>
                    <v-col cols="12" md="4">
                      <label for="">Preparado por</label>
                      <v-text-field v-model="pastel.preparado_por" label="preparado_por" type="text" solo required>
                      </v-text-field>
                    </v-col>
                    <v-col cols="12" md="4">
                      <label for="">Fecha de creación</label>
                      <v-text-field v-model="pastel.fecha_creacion" label="fecha_creacion" type="date" solo
                        required></v-text-field>
                    </v-col>
                    <v-col cols="12" md="4">
                      <label for="">Fecha de vencimiento</label>
                      <v-text-field v-model="pastel.fecha_vencimiento" label="fecha_vencimiento" type="date" solo
                        required></v-text-field>
                    </v-col>
                  </v-row>

                </v-container>
              </v-form>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn @click="dialog=false">Cancelar</v-btn>
              <v-btn @click="guardar()" type="submit" color="indigo" dark>Guardar</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

      </v-main>
    </v-app>
  </div>



  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"
    integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg=="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.0.2/dist/sweetalert2.all.min.js"></script>

  <script>
    new Vue({
      el: '#app', // El elemento HTML al que se vincula la instancia de Vue
      vuetify: new Vuetify(), // Instancia de Vuetify para el diseño de la interfaz
      data() { // Datos de la aplicación
        return {
          pasteles: [], // Array para almacenar los pasteles obtenidos de la base de datos
          dialog: false, // Controla si se muestra el diálogo para crear o editar pasteles
          operacion: '', // Guarda la operación actual (crear o editar)
          pastel: { // Objeto para almacenar los datos de un pastel
            id_Pastel: '',
            nombre: '',
            descripcion: '',
            preparado_por: '',
            fecha_creacion: '',
            fecha_vencimiento: '',
          }
        }
      },
      created() { // Método que se ejecuta al crear la instancia de Vue
        this.mostrar(); // Llama al método mostrar para obtener los datos de los pasteles
      },
      methods: { // Métodos de la aplicación
        mostrar() { // Método para obtener los datos de los pasteles desde el servidor
          axios.post("CRUDD.php", { opcion: 1 }) // Realiza una solicitud POST al servidor con la opción 1 para obtener los datos
            .then(response => { // Maneja la respuesta del servidor
              this.pasteles = response.data; // Asigna los datos de los pasteles obtenidos al array pasteles
            })
            .catch(error => { // Maneja los errores
              console.error('Error al obtener datos:', error); // Muestra un mensaje de error en la consola
            });
        },
        // Métodos para crear, editar y borrar pasteles
        crear() { // Método para crear un nuevo pastel
          axios.post("CRUDD.php", { opcion: 2, nombre: this.pastel.nombre, descripcion: this.pastel.descripcion, preparado_por: this.pastel.preparado_por, fecha_creacion: this.pastel.fecha_creacion, fecha_vencimiento: this.pastel.fecha_vencimiento }) // Realiza una solicitud POST al servidor con la opción 2 y los datos del pastel a crear
            .then(response => { // Maneja la respuesta del servidor
              this.mostrar(); // Vuelve a obtener los datos de los pasteles
            });
          // Reinicia los valores del objeto pastel
          this.pastel.id_Pastel = "";
          this.pastel.nombre = "";
          this.pastel.descripcion = "";
          this.pastel.preparado_por = "";
          this.pastel.fecha_creacion = "";
          this.pastel.fecha_vencimiento = "";
        },
        editar() { // Método para editar un pastel existente
          axios.post("CRUDD.php", { opcion: 3, id_Pastel: this.pastel.id_Pastel, nombre: this.pastel.nombre, descripcion: this.pastel.descripcion, preparado_por: this.pastel.preparado_por, fecha_creacion: this.pastel.fecha_creacion, fecha_vencimiento: this.pastel.fecha_vencimiento }) // Realiza una solicitud POST al servidor con la opción 3, el ID del pastel y los datos actualizados
            .then(response => { // Maneja la respuesta del servidor
              this.mostrar(); // Vuelve a obtener los datos de los pasteles
            });
        },
        borrar(id) { // Método para borrar un pastel
          Swal.fire({ // Muestra un mensaje de confirmación utilizando la librería Swal
            title: '¿Confirma eliminar el registro?',
            confirmButtonText: `Confirmar`,
            showCancelButton: true,
          }).then((result) => {
            if (result.isConfirmed) { // Si el usuario confirma la eliminación
              axios.post("CRUDD.php", { opcion: 4, id_Pastel: id }).then(response => { // Realiza una solicitud POST al servidor con la opción 4 y el ID del pastel a borrar
                this.mostrar(); // Vuelve a obtener los datos de los pasteles
              });
              Swal.fire('¡Eliminado!', '', 'success') // Muestra un mensaje de éxito utilizando la librería Swal
            }
          });
        },
        // Métodos para manejar los formularios de creación y edición de pasteles
        guardar() { // Método para guardar los datos del formulario (creación o edición)
          if (this.operacion == 'crear') { // Si la operación es crear
            this.crear(); // Llama al método crear
          }
          if (this.operacion == 'editar') { // Si la operación es editar
            this.editar(); // Llama al método editar
          }
          this.dialog = false; // Oculta el diálogo de creación/edición de pasteles
        },
        formNuevo() { // Método para mostrar el formulario de creación de pasteles
          this.dialog = true; // Muestra el diálogo
          this.operacion = 'crear'; // Establece la operación actual como crear
          // Reinicia los valores del objeto pastel
          this.pastel.nombre = "";
          this.pastel.descripcion = "";
          this.pastel.preparado_por = "";
          this.pastel.fecha_creacion = "";
          this.pastel.fecha_vencimiento = "";
        },
        formEditar(pastel) { // Método para mostrar el formulario de edición de pasteles
          // Establece los valores del objeto pastel con los datos del pastel seleccionado
          this.pastel.id_Pastel = pastel.id_Pastel;
          this.pastel.nombre = pastel.nombre;
          this.pastel.descripcion = pastel.descripcion;
          this.pastel.preparado_por = pastel.preparado_por;
          this.pastel.fecha_creacion = pastel.fecha_creacion;
          this.pastel.fecha_vencimiento = pastel.fecha_vencimiento;
          this.dialog = true; // Muestra el diálogo
          this.operacion = 'editar'; // Establece la operación actual como editar
        }
      }
    });
  </script>

</body>